<section> 
<h1 class="text-center primary"> Jungle </h1>
<br>
<div class="card">
<h3 class='card-header card-title  text-center'>Philosophy</h3>
  <div class="card-body"> 
    <p class='card-text'> hihtiesnkjbashefkjblsihbfliekbr.kjsad,. wuifgleiqgalKJSBLQIHBECLJKBLIUCLIKJBjchblhavdhbvclkjhbladc<br>bbudbibe;qidbflhbjkhbsdiliejbd <em>hjcijbnkjbkebc</em>jjkbsblkbrkbkjsbldkbehbas <p>
  </div>
</div>
<div class="card">
  <div class="card-body"> 
    <h3 class='card-title  text-center'>History</h3>
    <p class='card-text'> hihtiesnkjbashefkjblsihbfliekbr.kjsad,. wuifgleiqgalKJSBLQIHBECLJKBLIUCLIKJBjchblhavdhbvclkjhbladc<br>bbudbibe;qidbflhbjkhbsdiliejbd <em>hjcijbnkjbkebc</em>jjkbsblkbrkbkjsbldkbehbas <p>
  </div>
</div>
<div class="card">
  <div class="card-body"> 
    <h3 class='card-title  text-center'>Future</h3>
    <p class='card-text'> hihtiesnkjbashefkjblsihbfliekbr.kjsad,. wuifgleiqgalKJSBLQIHBECLJKBLIUCLIKJBjchblhavdhbvclkjhbladc<br>bbudbibe;qidbflhbjkhbsdiliejbd <em>hjcijbnkjbkebc</em>jjkbsblkbrkbkjsbldkbehbas <p>
  </div>
</div>


</section>